*{
    margin: 0;
    padding: 0;
}


div {
    position: absolute;
    top: 150px;
    left: 150px;

    width: 200px;
    height: 200px;
    background-color: blueviolet;
    
    transform: rotateZ(45deg);
}