/* Crie uma div blue; 50x50
e posicione ela a 0 px da margen direita e 0 px da margem inferior */

* {
    margin: 0;
    padding: 0;
}

.azul {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 150px;
    height: 150px;
    
    background-color: blue;
}
